@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 color-text">My Webpage</h1>
    <iframe width="1257" height="707" src="https://www.youtube.com/embed/FKztz7xHxkA" title="Deer Brings Her Babies To Meet Her Dog Best Friend Every Spring! | The Dodo Odd Couples" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>"
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button onclick="myMove()">Click Here!</button>

<div id="myContainer">
    <div id="myAnimation"></div>
</div> 